/**
* Custom Resets
*/
p, pre, blockquote, a, ul, ol, li, h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
}

body {
	position: relative;
	background-color: #CCC;
}


.slider {
	position: relative;
	width: 100%;
	height: 0;
	background-color: #000000;
}


.drag-area {
	position: relative;
	background-color: #AAA;
	width: 100%;
	height: 0;
	z-index: 10;
}

.slider-button {
    background-color: red;
    height: 120px;
    width: 120px;
    left: 50%;
    top: 50%;  
    z-index: 11;
    margin: 0;
	position: absolute;
	border-radius: 50px;
	cursor: pointer;
}



.block {
	/*float: left;*/
	width: 60%;
	position: relative;
	height: 200px;
	margin: auto;
}

.b2 {
	background-color: #FCF;
}

